.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: #1c1c1c;
  font-family: IBM Plex Sans, sans-serif;
  font-weight: 600;
  line-height: 20px;
}

h1 {
  max-width: 17ch;
  font-family: Rockwell, sans-serif;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1em;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 400;
  line-height: 36px;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 1em;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

a {
  text-decoration: underline;
}

.container {
  max-width: 1360px;
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  flex-direction: column;
}

.container.header-container {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
}

.container.hero-container {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  color: #fcfdfe;
  object-fit: fill;
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;
  padding-bottom: 2rem;
  display: flex;
}

.container.partner-container {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
}

.container.accordion-grid {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  flex-direction: row;
  flex: 1;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: space-around;
  align-items: center;
  justify-items: start;
  display: flex;
}

.container.types-container {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
}

.container.footer-container {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-bottom: 1px solid #fcfdfe;
  flex-flow: wrap;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: start;
  display: flex;
}

.container.footer-cotainer-bot {
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
}

.container.why-container {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  display: flex;
}

.container.gen-container {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  flex-direction: column;
}

.container.gen-hero-container {
  flex-direction: column;
}

.container.mission-container {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  color: #fcfdfe;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.container.values-container {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.container.why-core-container {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-direction: column;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
}

.container.verification-container {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-wrap: nowrap;
  display: flex;
}

.container.diff-container {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.container.partner-grid {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.container.tabs-container {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-direction: column;
  display: flex;
}

.section {
  padding-left: 5rem;
  padding-right: 5rem;
  overflow: hidden;
}

.section.header-section {
  -webkit-text-fill-color: inherit;
  background-color: #09121e;
  background-clip: border-box;
}

.section.hero-section {
  min-height: 70vh;
  background-image: url('../images/incore-home-banner.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
  position: relative;
}

.section.hero-section.core-gen {
  background-image: url('../images/Core-gen-page-image.webp');
}

.section.hero-section.vision {
  background-image: url('../images/install-processor-into-motherb.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.section.hero-section.why-core-gen {
  background-image: url('../images/Group_176.webp');
}

.section.hero-section.partners {
  background-color: rgba(0, 0, 0, .55);
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/Partner-Banner.webp');
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
}

.section.partners-section {
  background-color: #f8f9fa;
}

.section.accordion-section {
  flex-direction: row;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
}

.section.types-container {
  background-color: #09121e;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section.footer-section {
  background-color: #e43517;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 5rem;
}

.section.why-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.section.generators-section {
  background-color: #09121e;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section.mission-section {
  background-color: #e43517;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.section.values-section {
  background-color: #09121e;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.section.values-section.small {
  padding-top: 0;
  padding-bottom: 0;
}

.section.why-core-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.section.how-section {
  background-color: #09121e;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.section.verification-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.section.partner-black-section {
  background-color: #09121e;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section.flexicore-section {
  background-color: #09121e;
  padding-top: 3rem;
  padding-bottom: 1rem;
  position: relative;
  overflow: visible;
}

.image {
  max-height: 100%;
  max-width: 100%;
}

.button {
  background-color: #e43517;
  border-radius: 30px;
}

.button:hover {
  color: #e43517;
  background-color: #fcfdfe;
}

.button.gen-form {
  text-transform: uppercase;
  margin-top: 0;
  margin-left: 20%;
  margin-right: 20%;
}

.header-link-block {
  color: #fcfdfe;
  cursor: pointer;
  text-decoration: none;
}

.body {
  color: #1c1c1c;
}

.header-div {
  width: 60%;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.div-block, .div-block-2 {
  display: block;
}

.div-block-3 {
  display: flex;
}

.header-menu-wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  display: flex;
}

.link-wrapper {
  background-color: #09121e;
  align-items: stretch;
  display: flex;
}

.menu-arrow {
  width: .5rem;
  height: .5rem;
}

.header-image-wrapper {
  width: 40%;
  align-items: center;
  display: flex;
}

.hero-section {
  min-height: 100vh;
}

.heading {
  max-width: 17ch;
  margin-top: 0;
  margin-bottom: 2rem;
  display: block;
}

.heading.core-gen {
  font-size: 4rem;
}

.heading.core-gen.why-core-gen {
  max-width: 23ch;
  font-weight: 700;
}

.banner-icon {
  width: 1rem;
  height: 1rem;
}

.hero-div {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  align-items: center;
  display: flex;
}

.banner-text {
  max-width: 100ch;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5em;
}

.banner-text.core-gen {
  max-width: 56ch;
  border-left: 10px solid #e43517;
  margin-bottom: 5rem;
  padding-left: 1.5rem;
  font-weight: 500;
  line-height: 1.5em;
}

.banner-text.core-gen.why-core-gen {
  margin-bottom: 0;
}

.banner-text.bot {
  max-width: 150ch;
  color: #fcfdfe;
}

.div-block-4.accordion {
  width: 50%;
  padding-left: 2rem;
}

.div-block-5.accordion-image-div {
  width: 50%;
  min-height: 30rem;
  position: relative;
}

.accordion-item {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #e43517;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem 0 0;
  display: flex;
}

.accordion-item.w--current {
  background-color: #fcfdfe;
}

.accordion-item.bot {
  border-bottom-style: none;
}

.accordion-text {
  max-width: 60ch;
  margin-bottom: .5rem;
  font-size: .8rem;
  font-weight: 700;
  line-height: 1.5em;
}

.accordion-text.long {
  max-width: 100%;
  padding-bottom: 0;
}

.accordion-link {
  color: #1c1c1c;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}

.accordion-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.accordion-link-wrapper {
  z-index: 5;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  align-items: center;
  margin-bottom: .5rem;
  display: flex;
  position: relative;
}

.accordion-link-wrapper.width-100 {
  width: 100%;
  cursor: pointer;
}

.accordion-content {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-direction: column;
  display: none;
}

.accordion-content.ac-1 {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  padding-top: 0;
  display: flex;
}

.accordion-header {
  margin-bottom: .7rem;
  font-family: Rock, sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1em;
}

.accordion-header.ac-1 {
  color: #e43517;
  font-family: Inter;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1em;
}

.accordion-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.accordion-image.ai-1 {
  display: block;
}

.accordion-image.ai-2 {
  opacity: 0;
}

.accordion-image.ai-3, .accordion-image.ai-4 {
  opacity: 0;
  display: block;
}

.types-titles {
  grid-column-gap: 10rem;
  grid-row-gap: 10rem;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
  display: flex;
  overflow: visible;
}

.types-title {
  text-transform: uppercase;
  cursor: pointer;
  font-family: Rockwell, sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.types-title.tt-1 {
  color: #acacac;
}

.types-title.tt-1.why-1 {
  transform-origin: 0 100%;
  color: #fcfdfe;
  text-transform: capitalize;
}

.types-title.tt-2.why-2 {
  perspective-origin: 0 100%;
  transform-origin: 0 100%;
  color: #acacac;
  text-transform: capitalize;
}

.tabs-content {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template: "Area Area-2"
  / 1fr 2.5fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.tabs-content.tt-1 {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  grid-template-columns: 1.25fr 2.5fr;
}

.tabs-content.tt-2, .tabs-content.tt-3 {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  grid-template-rows: auto;
  grid-template-columns: 1.25fr 2.5fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.tabs-image-wrapper {
  position: relative;
}

.tabs-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.tabs-text {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  color: #fcfdfe;
  flex-direction: column;
  font-size: 1rem;
  line-height: 1.7rem;
  display: flex;
}

.tabs-text-block {
  max-width: 70ch;
  font-size: 1.3rem;
  font-weight: 500;
}

.tabs-link-wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  align-items: center;
  display: flex;
}

.tabs-link {
  color: #e43517;
  font-weight: 700;
  text-decoration: none;
}

.div-block-6 {
  width: 50%;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.div-block-6.footer-div {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  margin-bottom: 2rem;
}

.div-block-6.footer-div.f1 {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  flex-flow: wrap;
  margin-bottom: 0;
}

.div-block-6.right {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.footer-icon {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  object-fit: contain;
  margin-top: 1px;
  overflow: visible;
}

.footer-icon.middle {
  width: 2rem;
  border-left: 1px solid #09121e;
  border-right: 1px solid #09121e;
}

.footer-item-wrapper {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  color: #fcfdfe;
  cursor: pointer;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.footer-item-wrapper.horizontal {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.footer-heading {
  color: #fcfdfe;
  text-transform: uppercase;
  font-size: 1rem;
}

.footer-heading.f-1 {
  text-transform: none;
}

.footer-icon-list-wrapper {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-direction: column;
  display: flex;
}

.footer-icon-list-wrapper.f-1 {
  grid-column-gap: .1rem;
  grid-row-gap: .1rem;
}

.footer-text {
  max-width: 40ch;
  font-size: .8rem;
}

.footer-div {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-direction: column;
  display: flex;
}

.footer-link {
  color: #fcfdfe;
  font-size: .8rem;
  text-decoration: none;
}

.footer-link.middle {
  border-left: 1px solid #fcfdfe;
  border-right: 1px solid #fcfdfe;
  padding-left: 1rem;
  padding-right: 1rem;
}

.why-heading {
  max-width: 35ch;
  color: #e43517;
  font-family: Rock, sans-serif;
  font-weight: 400;
  line-height: 1.2em;
}

.why-grid {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  cursor: default;
  grid-template: "Area Area-2 Area-3"
  / 1fr .25fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  line-height: 202020px;
  display: grid;
}

.why-item-heading {
  color: #1c1c1c;
  font-family: Rock, sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

.why-div {
  width: 50%;
  height: 1px;
  background-color: #e43517;
}

.why-text {
  max-width: 50ch;
  color: #1c1c1c;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.4em;
}

.grid {
  grid-column-gap: 8rem;
  grid-row-gap: 8rem;
  grid-template-rows: auto;
  grid-template-areas: "Area Area-2";
}

.grid.generator-grid {
  grid-column-gap: 12rem;
  grid-row-gap: 12rem;
}

.generator-card {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.gen-card-text {
  color: #fcfdfe;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5em;
}

.gen-card-image {
  width: 100%;
  height: 20rem;
}

.gen-card-sub-heading {
  color: #e43517;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5em;
}

.gen-card-heading {
  color: #fcfdfe;
  font-family: Rockwell, sans-serif;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.2em;
}

.gen-form {
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  display: flex;
}

.gen-form-block {
  width: 80%;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-field {
  width: 40%;
  color: #fcfdfe;
  background-color: rgba(0, 0, 0, 0);
  border: 1px #000;
  border-top-color: #fcfdfe;
  border-bottom: 1px solid #fcfdfe;
}

.text-field:focus {
  border-bottom-color: #e43517;
}

.mission-text {
  text-align: left;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5em;
}

.values-text {
  color: #fcfdfe;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.5em;
}

.values-div {
  width: 7rem;
  height: 5px;
  background-color: #e43517;
  margin-top: 0;
  margin-bottom: 0;
}

.values {
  width: 100%;
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  flex-direction: column;
  display: flex;
}

.values-heading {
  color: #fcfdfe;
  font-family: Rockwell, sans-serif;
  font-weight: 700;
}

.card-wrapper {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
}

.values-card {
  width: 100%;
  height: 100%;
  color: #fcfdfe;
  border-radius: 25px;
  flex-direction: row;
  align-items: stretch;
  display: flex;
  position: relative;
  overflow: hidden;
}

.heading-2.values-card-heading {
  width: 100%;
  text-align: center;
  background-color: #e43517;
  padding: 2rem .5rem;
  font-family: Rock, sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

.values-card-text {
  background-color: #002756;
  align-items: center;
  padding: 2rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.7em;
  display: flex;
}

.values-card-icon {
  z-index: 1;
  background-color: #e43517;
  border: 8px solid #09121e;
  border-radius: 100%;
  padding: 1rem;
  position: absolute;
  top: -2rem;
  left: -2rem;
}

.values-icon {
  width: 2rem;
  height: 2rem;
}

.card-outer-wrapper {
  width: 25%;
  position: relative;
}

.team-div {
  width: 100%;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  flex-direction: column;
  margin-top: 4rem;
  display: flex;
}

.grid-2 {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template: "Area Area-2 Area-3 Area-4"
  / 1fr 1fr 1fr 1fr;
}

.team-card {
  height: 100%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #e43517;
  border-radius: 25px;
  flex-direction: column;
  text-decoration: none;
  display: flex;
  overflow: hidden;
}

.why-core-heading {
  max-width: 40ch;
  color: #e43517;
  text-align: center;
  font-family: Rock, sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1em;
}

.why-core-text {
  color: #1c1c1c;
  text-align: center;
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.4em;
}

.how-text-wrapper {
  display: flex;
}

.how-text {
  width: 50%;
  color: #fcfdfe;
  cursor: auto;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5em;
}

.how-text.left {
  padding-right: 4rem;
}

.how-text.right {
  color: #acacac;
  padding-left: 4rem;
}

.verification-intro {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-direction: column;
  display: flex;
}

.verification-heading {
  color: #e43517;
  font-family: Rock, sans-serif;
  font-weight: 500;
}

.verification-text {
  font-size: .8rem;
  font-weight: 700;
  line-height: 1.6em;
}

.points-wrapper {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
}

.points-card {
  width: 25%;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-direction: column;
  display: flex;
}

.points-circles-wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  display: flex;
}

.points-circle {
  width: 3.5rem;
  height: 3.5rem;
  background-color: #e43517;
  border-radius: 100%;
}

.points-text {
  font-size: .8rem;
  font-weight: 700;
  line-height: 1.6em;
}

.section-2 {
  min-height: 90vh;
  background-image: url('../images/Group_176.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-end;
  display: flex;
}

.rich-text-block {
  color: #fcfdfe;
}

.header-navbar {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  background-color: #09121e;
  display: flex;
}

.navbar-item {
  color: #fcfdfe;
  background-color: #09121e;
  padding: 0;
}

.navbar-item.w--current {
  color: #e43517;
}

.verification-card-headings {
  color: #1c1c1c;
  font-family: Rock, sans-serif;
  font-weight: 800;
  line-height: 1.2em;
}

.heading-3 {
  margin-bottom: 2rem;
  font-family: Rockwell, sans-serif;
  font-weight: 700;
}

.why-core-gen-hero {
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

.partner-image, .image-2 {
  height: 5rem;
}

.tabs-home {
  width: 100%;
  height: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-wrap: nowrap;
  grid-template: "Area Area-2"
  / 1fr 1fr;
  grid-auto-columns: 1fr;
  align-content: stretch;
  align-items: center;
  display: flex;
}

.tabs-home-menu {
  width: 60%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  flex-direction: column;
  padding-left: 2rem;
  display: flex;
}

.tabs-home-content {
  width: 50%;
  height: 100%;
  display: flex;
}

.tabs-home-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: inline-block;
}

.tabs-home-image-wrapper {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.tabs-home-wrapper {
  width: 100%;
  height: 100%;
}

.navbar {
  background-color: #09121e;
  justify-content: space-between;
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
}

.nav-container {
  max-width: 1360px;
  justify-content: flex-start;
  align-items: center;
}

.sitelogo {
  width: 20%;
  flex: none;
}

.nav-menu {
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.nav-link {
  color: #fcfdfe;
}

.nav-link.w--current {
  color: #e43517;
}

.nav-link.nav-button {
  background-color: #e43517;
  border-radius: 100px;
  margin-left: 1rem;
  padding: 9px 15px;
}

.nav-link.nav-button:hover {
  color: #e43517;
  background-color: #fcfdfe;
}

.nav-dropdown-container {
  background-color: #09121e;
}

.nav-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.tabs-titles-wrapper {
  color: #acacac;
  background-color: rgba(0, 0, 0, 0);
}

.tabs-titles-wrapper.w--current {
  transform-origin: 50%;
  color: #fcfdfe;
  background-color: rgba(0, 0, 0, 0);
  transform: scale(1.5);
}

.tabs-menu {
  margin-bottom: 2rem;
}

.hero-icon {
  width: 4rem;
  height: 4rem;
  position: absolute;
  bottom: 50%;
  right: 5rem;
}

.text-block {
  font-weight: 600;
}

.button-div {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  color: #fcfdfe;
  background-color: #e43517;
  border-radius: 20px;
  padding: 9px 15px;
  text-decoration: none;
  display: flex;
}

.button-div:hover {
  color: #e43517;
  background-color: #000;
}

.inestors-grid {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template: "Area Area-2"
  / 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.investor-text-block {
  color: #fcfdfe;
  background-color: #4d4e4e;
  border-radius: 25px;
  padding: 4rem;
  font-size: 1rem;
  line-height: 1.5em;
}

.tabs-content-2 {
  width: 40%;
}

.footer-image {
  max-width: 20rem;
}

.quotes-wrapper {
  position: relative;
}

.image-3 {
  width: 5rem;
  position: absolute;
  top: -2rem;
  right: 0;
}

.partner-grid {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  grid-template: "Area Area-2"
  / 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.footer-link-block {
  text-decoration: none;
}

.team-card-content {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  line-height: 1.5rem;
  text-decoration: none;
  display: flex;
}

.team-text {
  color: #fcfdfe;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
}

.link-block {
  text-decoration: none;
}

.flexi-text {
  max-width: 70ch;
  color: #fcfdfe;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.7rem;
}

.flexi-heading {
  z-index: 5;
  background-color: #e43517;
  padding: 1rem;
  position: absolute;
  top: -2rem;
}

@media screen and (max-width: 991px) {
  h2 {
    font-size: 2.5rem;
  }

  .container {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .container.accordion-grid {
    flex-wrap: wrap;
  }

  .container.types-container {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .container.footer-container {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: flex-start;
    align-items: stretch;
    display: flex;
  }

  .container.footer-cotainer-bot {
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
  }

  .container.mission-container {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .container.verification-container {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .section {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .section.header-section {
    overflow: visible;
  }

  .section.types-container {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .section.footer-section {
    background-color: #e43517;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 1rem;
  }

  .section.verification-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .header-div {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .heading {
    font-size: 4rem;
  }

  .banner-text, .banner-text.core-gen.why-core-gen {
    font-size: 1rem;
  }

  .div-block-4.accordion {
    width: 100%;
    padding-left: 0;
  }

  .div-block-5.accordion-image-div {
    width: 100%;
    min-height: 30rem;
  }

  .accordion-content.ac-1 {
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
  }

  .accordion-header {
    font-size: 2.5rem;
  }

  .tabs-content {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .tabs-content.tt-1 {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-wrap: wrap;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
  }

  .tabs-content.tt-2, .tabs-content.tt-3 {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 2.5fr;
    grid-auto-columns: 1fr;
  }

  .tabs-image-wrapper {
    width: 100%;
    min-height: 20rem;
  }

  .tabs-text {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .tabs-text-block {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  .div-block-6 {
    width: 100%;
  }

  .div-block-6.footer-div {
    width: 50%;
  }

  .div-block-6.footer-div.f1 {
    width: 100%;
  }

  .why-grid {
    grid-template: "Area"
                   "Area-2"
                   "Area-3"
                   / 1fr;
  }

  .why-item-heading {
    font-size: 1.8rem;
  }

  .why-div {
    width: 50%;
  }

  .why-text {
    font-size: 1rem;
  }

  .grid.generator-grid {
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
  }

  .generator-card {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .card-wrapper {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .heading-2.values-card-heading {
    width: 30%;
  }

  .values-card-text {
    align-items: center;
  }

  .card-outer-wrapper {
    width: 45%;
  }

  .grid-2 {
    grid-template: "Area Area-2"
                   "Area-3 Area-4"
                   / 1fr 1fr;
  }

  .why-core-text {
    margin-top: 1rem;
    line-height: 1.5em;
  }

  .how-text {
    font-size: 1rem;
  }

  .how-text.left {
    font-size: 1rem;
    line-height: 1.5em;
  }

  .how-text.right {
    font-size: 1rem;
  }

  .verification-intro {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .points-wrapper {
    justify-content: center;
  }

  .points-card {
    width: 45%;
  }

  .header-navbar {
    min-height: auto;
    left: -6rem;
  }

  .header-menu-icon {
    color: #fcfdfe;
  }

  .menu-button {
    background-color: #09121e;
    padding: 0;
  }

  .menu-button.w--open {
    background-color: #09121e;
  }

  .why-core-gen-hero {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .container-2, .container-3 {
    position: relative;
  }

  .partner-image {
    height: 4rem;
  }

  .tabs-home {
    flex-direction: column;
  }

  .tabs-home-menu {
    width: 100%;
    padding-left: 0;
  }

  .navbar {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .sitelogo {
    width: 30%;
  }

  .nav-menu {
    width: 50vw;
    background-color: #09121e;
    padding: 5rem 2rem;
  }

  .nav-link {
    width: 100%;
    font-size: 1.5rem;
  }

  .nav-link.nav-button {
    background-color: rgba(0, 0, 0, 0);
    margin-left: 0;
    padding: 20px;
  }

  .nav-dropdown-container {
    display: flex;
    position: static;
  }

  .menu-button-2 {
    color: #fcfdfe;
  }

  .nav-dropdown-icon {
    overflow: hidden;
  }

  .dropdown {
    width: 100%;
  }

  .hero-icon {
    right: 2rem;
  }

  .inestors-grid {
    flex-direction: column;
    display: flex;
  }

  .tabs-content-2 {
    width: 100%;
  }

  .footer-image {
    max-width: 15rem;
  }

  .partner-grid {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    flex-direction: column;
    grid-template: "Area Area"
                   "Area-2 Area-2"
                   / 1fr 1fr;
    grid-auto-columns: 1fr;
    display: flex;
  }

  .flexi-heading {
    padding: .5rem;
    top: -1rem;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 2rem;
  }

  .container.partner-container {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  .container.mission-container {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
  }

  .container.why-core-container {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .container.verification-container {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .section {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .section.footer-section, .section.generators-section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .section.mission-section {
    padding-top: 2rem;
  }

  .section.verification-section {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .heading, .heading.core-gen {
    font-size: 3rem;
  }

  .banner-text {
    font-size: 1rem;
  }

  .banner-text.core-gen {
    margin-bottom: 2rem;
  }

  .div-block-5.accordion-image-div {
    min-height: 25rem;
  }

  .accordion-item {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    padding-top: 1rem;
    padding-bottom: 0;
  }

  .accordion-item.w--current {
    padding-bottom: 0;
  }

  .accordion-item.ac-1 {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
  }

  .accordion-text {
    font-size: .8rem;
  }

  .accordion-header {
    font-size: 2rem;
  }

  .types-titles {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    flex-direction: column;
  }

  .tabs-image-wrapper {
    min-height: 15rem;
  }

  .tabs-text-block {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .footer-item-wrapper.horizontal {
    grid-column-gap: .2rem;
    grid-row-gap: .2rem;
    flex-direction: column;
  }

  .footer-link.middle {
    border-left-style: none;
    border-right-style: none;
    border-right-width: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .why-item-heading {
    font-size: 1.7rem;
  }

  .why-text {
    font-size: 1rem;
  }

  .generator-card {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
  }

  .gen-card-text {
    font-size: 1rem;
  }

  .gen-card-sub-heading {
    font-size: 1.2rem;
  }

  .gen-card-heading {
    font-size: 2.5rem;
    line-height: 1em;
  }

  .values-text {
    font-size: 1.5rem;
  }

  .values-div {
    margin-top: 2rem;
    margin-bottom: 0;
  }

  .heading-2.values-card-heading {
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 1.5rem;
  }

  .values-card-text {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .card-outer-wrapper {
    width: 100%;
  }

  .why-core-heading {
    font-size: 2rem;
  }

  .why-core-text {
    margin-top: 0;
  }

  .how-text-wrapper {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-wrap: wrap;
  }

  .how-text {
    width: 100%;
    font-size: .8rem;
  }

  .how-text.left {
    padding-right: 0;
    font-size: 1rem;
    line-height: 1.5em;
  }

  .how-text.right {
    padding-left: 0;
    font-size: 1rem;
  }

  .verification-intro {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
  }

  .points-card {
    width: 100%;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .partner-image {
    height: 3rem;
  }

  .navbar {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .sitelogo {
    width: 40%;
  }

  .hero-icon {
    right: 1rem;
  }

  .investor-text-block {
    padding: 2rem;
  }

  .image-3 {
    width: 4rem;
  }
}

@media screen and (max-width: 479px) {
  h2 {
    font-size: 1.5rem;
  }

  .container.hero-container {
    flex: 0 auto;
  }

  .container.types-container {
    padding-left: 0;
    padding-right: 0;
  }

  .container.why-core-container {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    padding-left: 0;
    padding-right: 0;
  }

  .section.types-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .section.footer-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .section.why-core-section, .section.how-section {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .section.verification-section {
    padding-top: 0;
    padding-bottom: 0;
  }

  .heading {
    font-size: 2rem;
  }

  .heading.core-gen.why-core-gen {
    font-size: 2.4rem;
  }

  .banner-text {
    font-size: .8rem;
  }

  .banner-text.core-gen.why-core-gen {
    font-size: .8rem;
    overflow: visible;
  }

  .div-block-5.accordion-image-div {
    min-height: 15rem;
  }

  .accordion-header {
    font-size: 1.8rem;
  }

  .types-titles {
    flex-wrap: wrap;
  }

  .types-title {
    font-size: 1.5rem;
  }

  .types-title.tt-2.why-2 {
    text-align: center;
  }

  .tabs-text-block {
    font-size: .8rem;
  }

  .div-block-6.right {
    grid-column-gap: .2rem;
    grid-row-gap: .2rem;
    flex-direction: column;
    align-items: flex-end;
  }

  .footer-icon {
    flex: none;
  }

  .footer-icon.middle {
    width: 1rem;
    border-left-style: none;
    border-right-style: none;
  }

  .why-item-heading {
    font-size: 1.5rem;
  }

  .why-text, .gen-card-text {
    font-size: .8rem;
  }

  .gen-card-sub-heading {
    font-size: 1.1rem;
  }

  .gen-card-heading {
    font-size: 2rem;
  }

  .mission-text {
    font-size: .8rem;
  }

  .values-text {
    font-size: 1.3rem;
  }

  .values-heading {
    font-size: 1.7rem;
  }

  .card-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .heading-2.values-card-heading {
    font-size: 1.4rem;
  }

  .values-card-text {
    font-size: .8rem;
  }

  .grid-2 {
    grid-template: "Area"
                   "Area-2"
                   "Area-3"
                   "Area-4"
                   / 1fr;
  }

  .why-core-heading {
    font-size: 1.5rem;
  }

  .why-core-text {
    font-size: .8rem;
  }

  .how-text.left {
    padding-right: 0;
    font-size: .8rem;
  }

  .how-text.right {
    font-size: .8rem;
  }

  .partner-image {
    height: 2rem;
  }

  .navbar {
    padding-left: 0;
    padding-right: 0;
  }

  .nav-menu {
    overflow: hidden;
  }

  .nav-link.nav-button {
    line-height: 1.5rem;
  }

  .nav-dropdown-icon {
    right: -2rem;
  }

  .tabs-menu {
    flex-wrap: wrap;
    display: flex;
  }

  .hero-icon {
    width: 2rem;
    height: 2rem;
  }

  .team-text {
    font-size: .8rem;
  }
}

#w-node-c67c73d7-94af-00ce-d77d-1fe070a34bd6-6b79694c, #w-node-_4fc78344-1fe2-e7dc-9580-a6bf5d9b6a31-6b79694c, #w-node-_536eaa93-ef2e-2958-e38c-e6b35de9c67d-6b79694c, #w-node-e6668237-1137-2992-749d-83c3e6870291-2df6a21a, #w-node-f8350a4d-bca1-c492-673c-50bb89f63798-6640debb, #w-node-f8350a4d-bca1-c492-673c-50bb89f6379a-6640debb, #w-node-f8350a4d-bca1-c492-673c-50bb89f6379b-6640debb, #w-node-f9836e88-9ce3-03b2-4196-b3e2da1b445c-6640debb, #w-node-f9836e88-9ce3-03b2-4196-b3e2da1b445e-6640debb, #w-node-f9836e88-9ce3-03b2-4196-b3e2da1b445f-6640debb, #w-node-_83b77062-5d11-ab3b-9b44-7be038385eff-6640debb, #w-node-_83b77062-5d11-ab3b-9b44-7be038385f01-6640debb, #w-node-_83b77062-5d11-ab3b-9b44-7be038385f02-6640debb, #w-node-b367539a-51d7-cb8f-5064-dc93b308c215-6640debb, #w-node-b367539a-51d7-cb8f-5064-dc93b308c217-6640debb, #w-node-b367539a-51d7-cb8f-5064-dc93b308c218-6640debb, #w-node-bb43f212-3b2d-e6ca-c9d8-c1c55989eb92-6640debb, #w-node-_50db4af1-a8a5-ffa4-b34a-a3d444a5e1b9-6640debb, #w-node-_1d0a7591-f9cb-b6f7-9485-7f72139c8dc0-adefadea, #w-node-_8a854f05-8c06-321a-b884-f5f8b02a91b9-adefadea, #w-node-ce7e784c-3cf5-37bc-b1b7-225ec39eb42a-adefadea, #w-node-_3d961d6b-6327-4d08-247f-8651cb03f90d-adefadea, #w-node-_4065d4e8-dae6-3630-cf89-e7b7c03a62ca-adefadea, #w-node-bbcd337a-453b-f6f0-911e-eb1ff5ed3e17-adefadea, #w-node-_10690443-c273-cacf-1507-d0e884113b89-082c22c1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 991px) {
  #w-node-c67c73d7-94af-00ce-d77d-1fe070a34bd4-6b79694c {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }

  #w-node-c67c73d7-94af-00ce-d77d-1fe070a34bd6-6b79694c {
    grid-column: span 2 / span 2;
  }

  #w-node-_4fc78344-1fe2-e7dc-9580-a6bf5d9b6a2f-6b79694c {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }

  #w-node-_4fc78344-1fe2-e7dc-9580-a6bf5d9b6a31-6b79694c {
    grid-column: span 2 / span 2;
  }

  #w-node-_536eaa93-ef2e-2958-e38c-e6b35de9c67b-6b79694c {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }

  #w-node-_536eaa93-ef2e-2958-e38c-e6b35de9c67d-6b79694c, #w-node-bb43f212-3b2d-e6ca-c9d8-c1c55989eb92-6640debb, #w-node-_50db4af1-a8a5-ffa4-b34a-a3d444a5e1b9-6640debb {
    grid-column: span 2 / span 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-bb43f212-3b2d-e6ca-c9d8-c1c55989eb92-6640debb, #w-node-_50db4af1-a8a5-ffa4-b34a-a3d444a5e1b9-6640debb {
    grid-column: span 2 / span 2;
  }
}


@font-face {
  font-family: 'Rock';
  src: url('../fonts/ROCK.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rockwell';
  src: url('../fonts/Rockwell-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
